ENV_NAME=vdev
IMAGE_TAG=latest

HARBOR_REGISTRY=harbor.example.com

WEB_HOST=vdev.dsp5-archi-o22a-15m-g3.fr
API_HOST=vdev-api.dsp5-archi-o22a-15m-g3.fr

MONGO_ROOT_USER=tiptop_root
MONGO_ROOT_PASSWORD=change_me
MONGO_DB_NAME=db_vdev

NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb://tiptop_user:change_me@mongodb:27017/db_vdev?authSource=admin
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=https://vdev.dsp5-archi-o22a-15m-g3.fr

VITE_API_URL=https://vdev-api.dsp5-archi-o22a-15m-g3.fr/api
