COMPOSE_PROJECT_NAME=thetiptop-vpreprod

STACK_NAME=vpreprod

TRAEFIK_HOST_RULE=Host(`vpreprod.dsp5-archi-o22a-15m-g3.fr`)

REGISTRY=harbor.dsp5-archi-o22a-15m-g3.fr/vpreprod
IMAGE_TAG=replace-me

MONGO_ROOT_PASSWORD=change-me-root
MONGO_USER=thetiptop
MONGO_PASSWORD=thetiptop123

JWT_SECRET=change-me-jwt-vpreprod
CLIENT_URL=https://vpreprod.dsp5-archi-o22a-15m-g3.fr
